.landing{

  grid-column: full-start/full-end;

  display: grid;
  grid-template-rows: 1fr min-content minmax(4rem, min-content) min-content 1fr;
  grid-template-columns: minmax(min-content,max-content);
  grid-row-gap: 1.5rem;
  align-items:center;
  justify-items:center ;
  justify-content: start;

}

.landing-welcome{
  font-size:2.5rem;
  grid-row:2/3;
}

.landing-name{
  font-size:12rem;
  grid-row:3/4;
}

.landing-sub{
  font-size:6rem;
  grid-row:4/5;
}

@media only screen and (max-width: 62.5em) {

  .landing{
    justify-content: center;
  };
}
@media only screen and (max-width: 50em) {

  .landing-name{
    font-size: 8rem;
  };
}

@media only screen and (max-width: 30em) {

  .landing-welcome{
    font-size:1.5rem;

  }

  .landing-name{
    font-size:6rem;

  }
  .landing-sub{
    font-size:3rem;

  }
}
