.main{
  color:#ffffff;
  overflow-y: auto;
  display: grid;
  grid-template-rows: 100vh 100vh min-content ;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8,[col-start] minmax(min-content,14rem)[col-end]) [center-end] minmax(6rem, 1fr) [full-end] ;
}

@media only screen and (max-width: 75em) {
  .main{
    grid-template-rows: 100vh 70vh min-content;
  };
}
@media only screen and (max-width: 62.5em) {
  .main{
    grid-template-rows: 70vh 50vh min-content;
  };
}
@media only screen and (max-width: 50em) {
  .main{
    grid-template-rows: 40vh 40vh repeat(2,min-content);
  };
}

@media only screen and (max-width: 37.5em) {
  .main{
    grid-template-rows: 40vh 30vh repeat(2,min-content);
  };
}

@media only screen and (max-width: 30em) {
  .main{
    grid-template-rows: 40vh repeat(3,min-content);
  };
}